*.swp
*~
/bin
.bundle
bundle/
share/man/*
!share/man/man1/hub.1.ronn
tmp/
*.test
target
.vagrant
tags
/site
/hub

.DS_Store

vendor
vendor/
vendor/*
vendor/**

bin
bin/
bin/*
bin/**

dist
dist/
dist/*
dist/**

.env
.secret

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
web/*


.vscode
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

profile.out
coverage.txt

# external packages folder
vendor/
webserver/


cmd/ghs/ghs*

.deploy
deploy.sh

coverage.txt
coverage.out

testdata


img_src
.vscode/launch.json
profile.out
